<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - COMPLETED Loop over jobs map to display all job fields -->
    <!--moved to fragments-->

    <div th:if="${jobs}">

        <div th:replace="fragments :: results"></div>
    </div>
    <!--for value in search term  two nested groups  for each job loop keep value pairs-->
    <!--tr is table row and td is table column placeholders-->
    <!--<div>-->
        <!--<h3 th:text="${jobs.size()} + ' Jobs'"></h3>-->

        <!--<table class="job-listing" th:each ="job : ${jobs}">-->
            <!--<tr th:each ="xkey : ${job.keySet()}" >-->
                <!--<td th:text="${xkey}" ></td>-->
                <!--&lt;!&ndash;value ="${field}"></td>&ndash;&gt;-->
                <!--<td th:text="${job.get(xkey)}"></td>-->

            <!--</tr>-->

        <!--</table>-->
    <!--</div>-->


</div>

</body>
</html>